/* INTRO */


.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/vueRS.jpg) rgb(15, 24, 64) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: rgba(255,255,255,.85);
    z-index: 10;
}

.intro .logo {
    margin: 10px auto 10px auto; 
    width: 400px;
    max-width: 60%;
}

.intro .ui.selection.dropdown, .intro .ui.selection.visible.dropdown>.text:not(.default) {
    background: transparent;
    color: rgba(255,255,255,.85);
    border-color: rgb(133, 133, 133);
}

.intro .ui.selection.dropdown:hover {
    border-color: rgba(133, 133, 133, .85);
}

.intro .ui.inverted.button {
    color: rgba(255,255,255,.85);
    box-shadow: 0 0 0 1px rgb(133, 133, 133) inset!important;
}

.intro .ui.inverted.button:hover {
    color: black;
    box-shadow: 0 0 0 1px rgb(133, 133, 133) inset!important;
}

.intro .cookie_use, .intro .cookie_use_mobile {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding-top: 5px;
}

.intro .cookie_use i {
    cursor: pointer;
}

.intro .cookie_use_mobile {
    display: none;
}

.intro p {
    text-align: center;
    font-size: 1.2em;
}

.intro footer {
    color: gray;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    text-align:center;
    width: 100%;
}

@media only screen and (max-width:321px) {
    .ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column {
        padding: 0.4rem !important;
    }

    .intro footer {
        font-size: 0.8em;
        line-height: 1em;
    }

    .intro p {
        font-size: 1em;
    }

    .intro .cookie_use_mobile {
        display: block;
    }

    .intro .cookie_use {
        display: none;
    }
}

/* COMMON */
section {
    text-align: center;
}

body {
    color: rgb(37, 61, 115);
}

img {
    margin: auto;
}

.background {
    width: 100%;
}

.cover {
    width: 100%;
    height: 100%;
    z-index: 4;
    position: relative;
}

.covered .background.fixed {
    top: 0;
    z-index: 2;
    position: fixed !important;
    overflow: visible;
}

.covered .background.fixed img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.covered .cover_bg {
    width: 100%;
    height: 0px;
    z-index: 3;
    position: fixed;
    overflow: hidden;
}

.covered .cover_bg img {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.slide {
  position: relative;
}

h1 {
    font-weight: 100;
}

h2 {
    font-family: Helvetica;
    font-size: 30px;
    letter-spacing: 0.6pt;
    font-weight: 100;
}

section .title p {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .6pt;
    font-weight: 100;
}

.button_rs_out {
    width: 192px;
    height: 38px;
    border: 1px solid white;
    position: relative;
    margin: 50px auto;
    cursor: pointer;
}

.button_rs_in {
    width: 180px;
    height: 48px;
    border: 1px solid white;
    position: absolute;
    top: -6px;
    left: 5px;
    padding-top: 14px;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .6pt;
    font-weight: 100;
}


/* SCREEN 1 */

.screen1 .title {
    margin-top: 40px;
}

.screen1 .title h1 {
    font-family: 'RS';
    font-size: 23px;
    letter-spacing: 1pt;
}

.screen1 .nosmarques {
    margin-top: 75px;
}

.screen1 .nosmarques img {
    width: 741px;
}

.screen1 .button_down {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .6pt;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 10px;
}

.screen1 .button_down img {
    width: 38px;
}

/* SCREEN 2*/

.screen2 {
    background-color: rgb(37, 61, 115);
    color: white;
    min-height: 530px;
}

.screen2 .logo {
    width: 120px;
    margin: 0 auto 70px;
}

.screen2 h2 {
    margin-bottom: 25px;
}

.screen2 .cover {
    padding-top: 130px;
}


/* SCREEN 3 */

.screen3 {
    height: 650px;
    background-color: #fcf5e9;
}

/* SCREEN 4 */

.screen4 {
    height: 448px;
    background-color: #f6faeb;
}

/* SCREEN 5 */

.screen5 {
    background-color: #87b241;
    color: white;
    min-height: 760px;
}

.screen5 .cover {
    padding-top: 200px;
}

.screen5 .logo {
    width: 240px;
    margin: 0 auto 70px;
}

.screen5 h2 {
    margin-bottom: 25px;
}

/* SCREEN 6 */

.screen6 {
    height: 698px;
}

/* ANIM ARROW SCREEN 1*/

.button_down img {
  animation: animationFrames linear 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  18% {
    transform:  translate(0px,10px)  ;
  }
  34% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  18% {
    -moz-transform:  translate(0px,10px)  ;
  }
  34% {
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  18% {
    -webkit-transform:  translate(0px,10px)  ;
  }
  34% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  18% {
    -o-transform:  translate(0px,10px)  ;
  }
  34% {
    -o-transform:  translate(0px,0px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  18% {
    -ms-transform:  translate(0px,10px)  ;
  }
  34% {
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}
