/* INTRO */


.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("@{imagesdir}vueRS.jpg") rgb(15, 24, 64) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: rgba(255,255,255,.85);
    z-index: 10;
}

.intro .logo {
    margin: 10px auto 10px auto; 
    width: 400px;
    max-width: 60%;
}

.intro .ui.selection.dropdown, .intro .ui.selection.visible.dropdown>.text:not(.default) {
    background: transparent;
    color: rgba(255,255,255,.85);
    border-color: rgb(133, 133, 133);
}

.intro .ui.selection.dropdown:hover {
    border-color: rgba(133, 133, 133, .85);
}

.intro .ui.inverted.button {
    color: rgba(255,255,255,.85);
    box-shadow: 0 0 0 1px rgb(133, 133, 133) inset!important;
}

.intro .ui.inverted.button:hover {
    color: black;
    box-shadow: 0 0 0 1px rgb(133, 133, 133) inset!important;
}

.intro .cookie_use, .intro .cookie_use_mobile {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding-top: 5px;
}

.intro .cookie_use i {
    cursor: pointer;
}

.intro .cookie_use_mobile {
    display: none;
}

.intro p {
    text-align: center;
    font-size: 1.2em;
}

.intro footer {
    color: gray;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    text-align:center;
    width: 100%;
}

@media only screen and (max-width:321px) {
    .ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column {
        padding: 0.4rem !important;
    }

    .intro footer {
        font-size: 0.8em;
        line-height: 1em;
    }

    .intro p {
        font-size: 1em;
    }

    .intro .cookie_use_mobile {
        display: block;
    }

    .intro .cookie_use {
        display: none;
    }
}

/* COMMON */
section {
    text-align: center;
}

body {
    color: rgb(37, 61, 115);
}

img {
    margin: auto;
}

.background {
    width: 100%;
}


/* COVER */
.cover {
    width: 100%;
    height: 100%;
    z-index: 4;
    position: relative;
}

.covered .background.fixed {
    top: 0;
    z-index: 2;
    position: fixed !important;
    overflow: visible;
}

.covered .background.fixed img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.covered .cover_bg {
    width: 100%;
    height: 0px;
    z-index: 3;
    position: fixed;
    overflow: hidden;
}

.covered .cover_bg img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.covered {
    color: white;
    min-height: 760px;
}

.covered .cover {
    padding-top: 200px;
}

.covered .logo {
    margin: 0 auto 70px;
}

.covered h2 {
    margin-bottom: 25px;
}

/* SLIDE */

div.slide {
  position: relative;
}

h1 {
    font-weight: 100;
}

h2 {
    font-family: Helvetica;
    font-size: 30px;
    letter-spacing: 0.6pt;
    font-weight: 100;
}

section .title p {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .6pt;
    font-weight: 100;
}

.button_rs_out {
    width: 192px;
    height: 38px;
    border: 1px solid white;
    position: relative;
    margin: 50px auto;
    cursor: pointer;
}

.button_rs_in {
    width: 180px;
    height: 48px;
    border: 1px solid white;
    position: absolute;
    top: -6px;
    left: 5px;
    padding-top: 14px;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .6pt;
    font-weight: 100;
}

/* PRODUCT INTRO */ 
.product_intro {
    height: 448px;
    padding-top: 50px;
    font-family: 'Helvetica Light'; /* not ok for now..*/
}

.product_intro h2 {
    font-family: 'RS';
    font-size: 72px;
    margin-bottom: 70px;
}

.product_intro p {
    margin-bottom: 60px;
    font-size: 18px;
}

.product_intro .column {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  line-height: 23.82px;
}

.product_intro .line {
  width: 80px;
  height: 1px;
  background-color: #253d73;
  margin: 5px auto;
}


/* SCREEN 1 */

.screen1 .title {
    margin-top: 40px;
}

.screen1 .title h1 {
    font-family: 'RS';
    font-size: 23px;
    letter-spacing: 1pt;
}

.screen1 .nosmarques {
    margin-top: 75px;
}

.screen1 .nosmarques h2 {
    font-family: 'RS';
}

.screen1 .button_down {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: .6pt;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 10px;
}

.screen1 .button_down img {
    width: 38px;
}

/* SCREEN 2*/

.screen2 {
    background-color: rgb(37, 61, 115);
}

.screen2 .logo {
    width: 120px;
}

.screen2 .cover {
    padding-top: 130px;
}


/* SCREEN 3 */

.screen3 {
    height: 650px;
}

/* SCREEN 4 */

.screen4 {
    background-color: #f6faeb;
}

/* SCREEN 5 */

.screen5 {
    background-color: #87b241;
}

.screen5 .logo {
    width: 240px;
}

/* SCREEN 6 */

.screen6 {
    height: 1445px;
}

/* SCREEN 7 */

.screen7 {
    background-color: #e0f1fd;
}

/* SCREEN 8 */

.screen8 {
    background-color: #5b8bae;
}

.screen8 .logo {
    width: 440px;
}

/* SCREEN 9 */

.screen9 {
    height: 1445px;
}

/* SCREEN 10 */
.screen10 {
    background-color: #fbf4e8;
}

/* SCREEN 11 */

.screen11 {
    background-color: #e8cfa4;
}

.screen11 .logo {
    width: 388px;
}

/* SCREEN 12 */

.screen12 {
    height: 1445px;
}

/* SCREEN 13 */
.screen13 {
    background-color: #ffdcba;
}

/* SCREEN 14 */

.screen14 {
    background-color: #ffa045;
}

.screen14 .logo {
    width: 251px;
}

/* SCREEN 15 */

.screen15 {
    height: 1445px;
}

/* SCREEN 16 */
.screen16 {
    background-color: #efefef;
}

/* SCREEN 17 */

.screen17 {
    background-color: #a9adb3;
}

.screen17 .logo {
    width: 294px;
}

/* SCREEN 18 */

.screen18 {
    height: 1445px;
}

/* SCREEN 19 */
.screen19 {
    background-color: #fbe7c0;
}

/* SCREEN 20 */

.screen20 {
    background-color: #fdc554;
}

.screen20 .logo {
    width: 325px;
}

/* SCREEN 21 */

.screen21 {
    height: 1445px;
}

/* SCREEN 22 */
.screen22 {
    background-color: #fde0e0;
}

/* SCREEN 23 */

.screen23 {
    background-color: #740F0F;
}

.screen23 .logo {
    width: 204px;
}

/* SCREEN 24 */

.screen24 {
    height: 1445px;
}

/* SCREEN 25 */
.screen25 {
    background-color: rgba(182, 146, 83, .3);
}

/* SCREEN 26 */

.screen26 {
    background-color: #b69253;
}

.screen26 .logo {
    width: 316px;
}

/* SCREEN 27 */

.screen27 {
    height: 1445px;
}

/* SCREEN 28 */
.screen28 {
    background-color: rgba(132, 185, 251, .3);
}

/* SCREEN 29 */

.screen29 {
    background-color: #84B9FB;
}

.screen29 .logo {
    width: 316px;
}

/* SCREEN 30 */

.screen30 {
    height: 1445px;
}

/* ANIM ARROW SCREEN 1*/

.button_down img {
  animation: animationFrames linear 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  18% {
    transform:  translate(0px,10px)  ;
  }
  34% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  18% {
    -moz-transform:  translate(0px,10px)  ;
  }
  34% {
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  18% {
    -webkit-transform:  translate(0px,10px)  ;
  }
  34% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  18% {
    -o-transform:  translate(0px,10px)  ;
  }
  34% {
    -o-transform:  translate(0px,0px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  18% {
    -ms-transform:  translate(0px,10px)  ;
  }
  34% {
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}
