html, body {
    overflow: hidden;
}

body {
    background: url(../img/vueRS.jpg) rgb(15, 24, 64) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    font-family: 'RS';
    color: rgba(255,255,255,.85);
}

.logo {
    margin: 10px auto 10px auto; 
    width: 400px;
    max-width: 60%;
}

.ui.selection.dropdown, .ui.selection.visible.dropdown>.text:not(.default) {
    background: transparent;
    color: rgba(255,255,255,.85);
    border-color: rgb(133, 133, 133);
}

.ui.selection.dropdown:hover {
    border-color: rgba(133, 133, 133, .85);
}

.ui.inverted.button {
    color: rgba(255,255,255,.85);
    box-shadow: 0 0 0 1px rgb(133, 133, 133) inset!important;
    font-family: 'RS';
}

p {
    text-align: center;
    font-size: 1.2em;
}

footer {
    color: gray;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    text-align:center;
    width: 100%;
}

@media only screen and (max-width:321px) {
    .ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column {
        padding: 0.4rem !important;
    }

    footer {
        font-size: 0.8em;
    }

    p {
        font-size: 1em;
    }
}