/**************
* SCREEN 7 - FOOTER
**************/

.screen7 {
    width: 100%;
    height: 1073px;
    padding-top: 100px;
    margin-top: 40px;
    .font_htl;
    font-size: 16px;
    color: white;

    h2 {
        .font_rs;
        font-size: 18px;
    }

    a { color: white }

    .cartouche {
        width: 742px;
        height: 334px;
        margin: 0px auto;
        padding-top: 110px;
        h2 {
            margin-bottom: 0;
        }
        p {
            .font_rs;
            font-size: 16px;
        }
    }

    img.logo { height: 200px }
    .divider {
        margin: 100px auto 10px auto;
        width: 880px;
        height: 1px;
        background-color: white;
    }
    .foot {
        width: 880px;
        margin: auto;
        text-align: left;

        .bt {
            display: inline-block;
            margin-right: 40px;
        }
    }


    .cover_me("IMAGE_FOND_ROSE_DES_VENTS.jpg");
}
