/**************
* SCREEN 5 - MARQUES SLIDES
**************/

 .screen5 {
    .full_size;
    background-color: white;
    min-height: 800px;

    .slides {
        width: 100%;
        height: 100%;
        position: relative;

        .slide {
            background-position: 50%;
            .full_size;
            .cover_me('', white);
            .top;

            .transition(left 1s ease);
            overflow: hidden;

            .cover {
                .content {
                    .vertical_center;
                }
                .font_htl;
                .full_size;
                .top(0,100%);

                color: white;
                min-height: 760px;
                .transition(left 1s ease);
                .preserve3d;

                .logo { margin: 0 auto 65px }
                .logob { margin: 0 auto 16px }

                h2 { margin-bottom: 30px; .font_htl; font-weight: bold; font-size: 22px }
                p { font-size: 16px }
                section { display: none }

                .asterix {
                    position: absolute;
                    bottom: 5px;
                    left: 20%;
                }
            }
        }

        .button {
            position: absolute;
            top: 50%;
            margin-top: -16px;
            cursor: pointer;
        }
        .button.left {
            left: 20px;
        }
        .button.right {
            right: 20px;
        }
    }

    @media only screen and (max-width:800px) {
        .slides {
            .slide:nth-child(1) {
                background-image: url(../img/gvine_mobile.jpg) !important;
            }
            .slide:nth-child(2) {
                background-image: url(../img/vermouth2_mobile.jpg) !important;
            }
            .slide:nth-child(3) {
                background-image: url(../img/tequila_mobile.jpg) !important;
            }
            .slide:nth-child(4) {
                background-image: url(../img/liqueur_mobile.jpg) !important;
            }
            .slide:nth-child(5) {
                background-image: url(../img/vodka_mobile.jpg) !important;
            }
            .slide:nth-child(6) {
                background-image: url(../img/Ciroc_mobile.jpg) !important;
            }
            .slide:nth-child(8) {
                background-image: url(../img/eaudevie_mobile.jpg) !important;
            }
        }
    }

    @media only screen and (max-width:400px) {
        .cover .logo img {
            max-width: 90%;
            height: auto;
        }

        .slides .slide .cover .asterix {
            left: 0;
        }

        .logo { margin: 0 auto 15px }
        p, h2 {
            max-width: 90%;
            margin: auto
        }
    }

    .button_down {
        cursor: pointer;
    }
 }
